<footer role="contentinfo">

  <div class="landmark-content">

    <div class="contact-info">
      <h2>Visiting and postal address</h2>
      <p>
        Öredev AB<br>
        Hans Michelsensgatan 11, 3rd floor<br>
        SE-211 20 Malmö<br>
        Sweden
      </p>
      <p>
        Tel: +46 (0)70 245 62 94
      </p>
    </div>
    <!-- /contact-info -->

    <div class="partner-logo">
      <h2>Founder of Øredev</h2>
      <img src="{{ base }}/images/jayway-logo-white.png" width="150" alt="Jayway – Digitizing Ideas">
    </div>
    <!-- /partner-logo -->

  </div>
  <!-- /landmark-content -->

</footer>
<!-- /contentinfo -->
