<header role="banner">

  <div class="landmark-content">

    <h1 class="main-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

    <nav role="navigation">
      <ul id="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/partners/">Partners</a></li>
        <li><a href="/videos/">Videos</a></li>
        <li><a href="/2017/">2017 Conference</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
    <!-- /navigation -->

    <div class="banner-hero">

      <p class="main-message">Øredev Developer Conference</p>

      <ul class="year-list">
        <li><a href="#">2013</a></li>
        <li><a href="#">2014</a></li>
        <li><a href="#">2015</a></li>
        <li><a href="#">2016</a></li>
        <li><a href="#">2017</a></li>
      </ul>

    </div>
    <!-- /conference-history -->

  </div>

</header>
<!-- /banner -->
